apiVersion: v2
appVersion: 3.8.1
description: A beautiful, powerful, self-hosted rom manager and player.
name: romm
version: 2026.2.3
kubeVersion: ">=1.16.0-0"
keywords:
  - romm
  - rom-manager
home: https://github.com/retsamedoc/helm-charts/tree/main/charts/romm
icon: https://romm.app/_ipx/q_80/images/blocks/logos/romm.svg
sources:
  - https://github.com/rommapp/romm
  - https://github.com/retsamedoc/helm-charts/tree/main/charts/romm
maintainers:
  - name: Zach Schimke
    email: retsamedoc@digitalactionsproject.org
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
  - name: mariadb
    version: 20.4.2
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
    alias: ""
    tags: []
    import-values: []
  - name: redis
    version: 20.11.4
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
    alias: ""
    tags: []
    import-values: []

annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: |-
        Upgraded the common library to v4.6.2

